@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 150px;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  
}